
.container {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.form-heading {
  font-family: 'Brandon Grotesque', sans-serif;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgb(236, 92, 84);
  margin: 10px;
}

.hiring-label {
  color: grey;
  font-family: 'AtlasGrotesk', sans-serif;
  text-transform: uppercase;
}
}
