ul {
  padding-left: 0;
}

li {
  list-style: none;
  margin: 0.5rem;
}

h1 {
  font-size: 4rem;
}

.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
}

.column-third {
  flex-basis: calc(100% / 3);
}

.column-fourth {
  flex-basis: 25%;
}

.flex-center {
  align-content: center;
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.align-items {
  align-items: center;
}

.hidden {
  display: none !important;
}

.right {
  text-align: right;
}
